.footer{
    padding: 8rem;
    background-color: $color-secondary;
    grid-column: full-start/full-end;
}
.nav{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit , minmax(20rem,1fr));
   list-style: none; 
   align-items: center;
   &__item{

   }
   &__link:link
   ,&__link:visited{
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .3s;
    
   }
   &__link:hover
   ,&__link:active{
    background-color:rgba($color: #fff, $alpha: .05) ;
    transform: translateY(-5px);
   }
   
}
.copyright{
    font-size: 1.4rem;
    color:$color-grey-light-1;
    width: 70%;
    margin: 6rem auto 0 auto;
    
    text-align: center;
   }